
<div class="form-container">
  <h2>Crear Usuario</h2>

  <form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()">
    
    <label>Nombre:</label>
    <input type="text" formControlName="nombre" placeholder="Ingresa el nombre" />
    <div *ngIf="usuarioForm.get('nombre')?.invalid && usuarioForm.get('nombre')?.touched">
      ⚠ El nombre es obligatorio (mínimo 3 caracteres).
    </div>

    <label>Cédula:</label>
    <input type="text" formControlName="cedula" placeholder="Ingresa la cédula" />
    <div *ngIf="usuarioForm.get('cedula')?.invalid && usuarioForm.get('cedula')?.touched">
      ⚠ Solo números son permitidos.
    </div>

    <label>Correo:</label>
    <input type="email" formControlName="correo" placeholder="ejemplo@correo.com" />
    <div *ngIf="usuarioForm.get('correo')?.invalid && usuarioForm.get('correo')?.touched">
      ⚠ Ingresa un correo válido.
    </div>

    <label>Rol:</label>
    <select formControlName="rol">
      <option value="">Seleccione un rol</option>
      <option value="estudiante">Estudiante</option>
      <option value="profesor">Profesor</option>
      <option value="administrativo">Administrativo</option>
    </select>

    <label>Programa:</label>
    <select formControlName="programa">
        <option value="">Seleccione un programa</option>
        <option value="Ingeniería en Sistemas">Ingeniería en Sistemas</option>
        <option value="Administración de Empresas">Administración de Empresas</option>
        <option value="Ingenieria Civil">Ingenieria Civil</option>
        <option value="Veterinaria">Medicina</option>
        <option value="Matematicas">Matematicas</option>
    </select> 
    <button type="submit" [disabled]="usuarioForm.invalid">Crear Usuario</button>
  </form>
</div>
