<div class="container text-center mt-5">
  <h1 class="text-primary">Bienvenido a SIGU</h1>
  <p class="lead">Sistema Integral de Gestión Universitaria</p>

  <div class="row mt-4">
    <!-- Admisiones -->
    <div class="col-md-4">
      <img src="src/assets/images/admisiones.png" alt="Admisiones" class="img-fluid mb-3" style="max-height: 120px;">
      <a routerLink="/admisiones" class="btn btn-success w-100">Admisiones</a>
    </div>

    <!-- Académico -->
    <div class="col-md-4">
      <img src="assets/images/academico" alt="Académico" class="img-fluid mb-3" style="max-height: 120px;">
      <a routerLink="/academico" class="btn btn-info w-100">Académico</a>
    </div>

    <!-- Investigación -->
    <div class="col-md-4">
      <img src="src/assets/images/investigacion" alt="Investigación" class="img-fluid mb-3" style="max-height: 120px;">
      <a routerLink="/investigacion" class="btn btn-warning w-100">Investigación</a>
    </div>
  </div>
</div>
