/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* altura total de la pantalla */
}

router-outlet {
  flex: 1; /* ocupa todo el espacio disponible */
}

app-footer {
  margin-top: auto; /* empuja el footer hacia abajo */
}
